<% provide(:title, 'About') %>

<div class="hero-unit">
    <h1>About Life Tracker</h1>
    <h2>What is Life Tracker?</h2>
    <p>As a college student I don't always do a great job keeping track of everything going on in my life, from events to homework, so I decided to create a web app so I could keep track of it from wherever I was</p
    <h2>How do you use Life Tracker?</h2>
    <p>Not really sure, haven't made it yet</p>
</div>
