<% provide(:title, 'About') %>

<div class="hero-unit">
    <section class="about">
    <h1>About Life Tracker</h1>
    <section class="info">
    <h2>What is Life Tracker?</h2>
    <p>As a college student I don't always do a great job keeping track of everything going on in my life, especially homework, so I decided to create a web app so I could keep track of it from wherever I was.</p>
    <h2>How do you use Life Tracker?</h2>
    <p>To start tracking your homework, all you have to do is make an account, add a class to your class list and then begin tracking the assignments you have due.</p>
    </section>
    </section>
</div>

 