<% provide(:title, 'Welcome') %>
<div class="center hero-unit">
    <h1>Welcome to Life Tracker</h1>

    <h2>New to being organized?</h2>
    
    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
    
<h3> 
Already have an account?
    <a href='#'>Sign in</a>
</h3>



