<% provide(:title, 'Welcome') %>
<h1>Welcome to Life Tracker</h1>

<p>
    New to life tracker? <a href='#'>Sign up now</a> or <a href='welcome_pages/about'>find out more about us</a>
    
</p>

<p> Already have an account?
    <a href='#'>Sign in</a>
</p>



